<app-navbar></app-navbar>
<section class="about">
    <div class="container px-6 py-12 mx-auto">
        
        <a href="javascript:history.back()" class="back-button text-lg text-gray-700 hover:text-gray-900">← Back</a>

        <div class="image-container my-8 text-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQd6he3xpzjNW_2FQ9jKNnjqgwBKbCuMY_poQ&s" alt="Ngoakoana Precious Mphago" class="about-image w-80 h-40 md:w-60 md:h-60 rounded-full mx-auto">
        </div>

        <div class="text-content text-center md:text-left mt-8">
            <h1 class="text-3xl font-semibold text-gray-900 mb-4">About Me</h1>
            <p class="text-lg text-gray-700 mb-4">
                <p>Hi, I'm <strong>Hi, I'm <span class="font-bold text-indigo-600 hover:text-indigo-800 transition-colors duration-300">Ngoakoana Precious Mphago</span></strong>, a passionate System developer from Limpopo, South Africa.</p>
            
            <p class="text-base text-gray-600 mb-6">
                I specialize in Information Technology System Support and System Development. 
                As a burn survivor and disability advocate, I am committed to creating inclusive and accessible technology solutions.
            </p>
            
            
            <a 
           
            class="inline-flex items-center justify-center bg-gray-600 text-white text-lg font-medium px-8 py-3 rounded-lg shadow-md hover:bg-gray-700 transition-all duration-300"
            (click)="showContactModal()"
            id="contact-button"
        >
            Contact Me
        </a>
        </div>
        
    </div>
    <div class="skills-section text-center md:text-left mt-8 px-4 sm:px-6 lg:px-8">
        <h2 class="text-3xl font-bold text-gray-900 mb-6">Skills</h2>
        <ul class="text-lg text-gray-700 grid grid-cols-2 md:grid-cols-3 gap-6">
            <li class="skill-item flex items-center justify-center gap-3 transition-transform transform hover:scale-105 hover:text-indigo-600">
                <img src="https://img.icons8.com/?size=100&id=20909&format=png&color=000000" alt="HTML" class="w-8 h-8">
                <span class="text-gray font-semibold">HTML</span>
            </li>
            <li class="skill-item flex items-center justify-center gap-3 transition-transform transform hover:scale-105 hover:text-indigo-600">
                <img src="https://img.icons8.com/?size=100&id=WlXoMrd84l96&format=png&color=000000" alt="CSS" class="w-8 h-8">
                <span class="text-gray font-semibold">CSS</span>
            </li>
            <li class="skill-item flex items-center justify-center gap-3 transition-transform transform hover:scale-105 hover:text-indigo-600">
                <img src="https://img.icons8.com/?size=100&id=108784&format=png&color=000000" alt="JavaScript" class="w-8 h-8">
                <span class="text-gray font-semibold">JavaScript</span>
            </li>
            <li class="skill-item flex items-center justify-center gap-3 transition-transform transform hover:scale-105 hover:text-indigo-600">
                <img src="https://img.icons8.com/?size=100&id=rgPSE6nAB766&format=png&color=000000" alt="Databases" class="w-8 h-8">
                <span class="text-gray font-semibold">MySQL</span>
            </li>
            <li class="skill-item flex items-center justify-center gap-3 transition-transform transform hover:scale-105 hover:text-indigo-600">
                <img src="https://img.icons8.com/?size=100&id=19293&format=png&color=000000" alt="Frontend Development" class="w-8 h-8">
                <span class="text-gray font-semibold">Frontend Development</span>
            </li>
            <li class="skill-item flex items-center justify-center gap-3 transition-transform transform hover:scale-105 hover:text-indigo-600">
                <img src="https://img.icons8.com/?size=100&id=44484&format=png&color=000000" alt="Backend Development" class="w-8 h-8">
                <span class="text-gray font-semibold">Backend Development</span>
            </li>
            <li class="skill-item flex items-center justify-center gap-3 transition-transform transform hover:scale-105 hover:text-indigo-600">
                <img src="https://img.icons8.com/?size=100&id=q8l2X20yd72l&format=png&color=000000" alt="TypeScript" class="w-8 h-8">
                <span class="text-gray font-semibold">TypeScript</span>
            </li>
            <li class="skill-item flex items-center justify-center gap-3 transition-transform transform hover:scale-105 hover:text-indigo-600">
                <img src="https://img.icons8.com/?size=100&id=hsPbhkOH4FMe&format=png&color=000000" alt="Node.js" class="w-8 h-8">
                <span class="text-gray font-semibold">Node.js</span>
            </li>
            <li class="skill-item flex items-center justify-center gap-3 transition-transform transform hover:scale-105 hover:text-indigo-600">
                <img src="https://img.icons8.com/?size=100&id=dSnah6CSCxRG&format=png&color=000000" alt="Angular" class="w-8 h-8">
                <span class="text-gray font-semibold">Angular</span>
            </li>
            <li class="skill-item flex items-center justify-center gap-3 transition-transform transform hover:scale-105 hover:text-indigo-600">
                <img src="https://img.icons8.com/?size=100&id=WoopfRcDj3RF&format=png&color=000000" alt="Tailwind CSS" class="w-8 h-8">
                <span class="text-gray font-semibold">Tailwind CSS</span>
            </li>
            <li class="skill-item flex items-center justify-center gap-3 transition-transform transform hover:scale-105 hover:text-indigo-600">
                <img src="https://img.icons8.com/?size=100&id=efFfwotdkiU5&format=png&color=000000" alt="GitHub" class="w-8 h-8">
                <span class="text-gray font-semibold">GitHub</span>
            </li>
            <li class="skill-item flex items-center justify-center gap-3 transition-transform transform hover:scale-105 hover:text-indigo-600">
                <img src="https://img.icons8.com/?size=100&id=D8fI0PGNpq8i&format=png&color=000000" alt="Object-Oriented Programming" class="w-8 h-8">
                <span class="text-gray font-semibold">OOP</span>
            </li>
        </ul>
    </div>
    
    
        
    
    
</section>




<div *ngIf="isModalVisible" class="fixed inset-0 flex justify-center items-center bg-black bg-opacity-50">
    <div class="bg-white p-6 rounded-lg max-w-md w-full">
        <h3 class="text-2xl font-bold text-gray-900 mb-4">Contact Details</h3>
        <p class="text-lg text-gray-700 mb-4">
            Phone: <strong>0764039976</strong>
        </p>
        <p class="text-lg text-gray-700 mb-4">
            Email: <strong>mphagonr460&#64;gmail.com</strong>
        </p>
        <p class="text-lg text-gray-700 mb-4">
            LinkedIn: <strong><a href="https://www.linkedin.com" target="_blank" class="text-blue-600">View Profile</a></strong>
        </p>
        <p class="text-lg text-gray-700 mb-4">
            GitHub: <strong><a href="https://github.com" target="_blank" class="text-blue-600">Visit GitHub</a></strong>
        </p>
        <button (click)="closeModal()" class="bg-red-600 text-white px-6 py-2 rounded-lg hover:bg-red-700">
            Close
        </button>
    </div>
</div>




<app-footer></app-footer>