<app-navbar></app-navbar>
<section class="home">
    <div class="container">
      <h1>Welcome to My Portfolio</h1>
      <p>Hi, I'm <strong>Ngoakoana Precious Mphago</strong>, a passionate and dedicated software developer.</p>
      <p>
        I specialize in creating accessible and innovative technology solutions. I’m currently pursuing System Development at Digital Academy and working on several impactful projects.
      </p>
      <p>
        Explore my portfolio to learn more about my work and how I am using technology to make a difference in the world.
      </p>
      
      
      <div class="cta">
        <a routerLink="/about" class="button">Learn More About Me</a>
        <a [routerLink]="[ '/projects' ]" class="button">See My Projects</a>
      </div>
    </div>
  </section>
  <!-- <app-projects></app-projects> -->
   
  <app-footer></app-footer>
